nav
  display: flex
  justify-content: space-between

#lang-picker
  position: relative
  font-size: 1.4rem
  ul
    display: none
    position: absolute
    list-style-type: none
    margin: 0
    padding: 0
    a
      background: none
  &:hover
    ul
      display: block

// override default background color of highligh.js
.hljs 
  background-color: transparent

.home
  h3
    display: flex
    justify-content: space-between
    .post-date
      margin-right: 3rem

blockquote
  p
    font-size: 1.2em
