nav
  display: flex
  justify-content: space-between

#lang-picker
  position: relative
  ul
    list-style-type: none
    margin: 0
    padding: 0
    a
      background: none
    li
      font-size: 1em
      text-align: right
      visibility: hidden
      &:first-child
        visibility: visible
        
  &:hover
    ul
      li
        visibility: visible

// override default background color of highligh.js
.hljs 
  background-color: transparent

.home
  h3
    display: flex
    justify-content: space-between
    .post-date
      margin-right: 3rem

blockquote
  p
    font-size: 1.2em
